:root {
    --bg-color: #fff;
    --primary-color: #ee2a10;
    --secondary-color: #1f1f1f;
    --primary-text-color: #000;
    --secondary-text-color: #666;
    --muted-text-color: #DDD;
    --max-width: 860px;
    --font: 'Ubuntu';
}

html {
    font-family: var(--font), sans-serif;
    color: var(--primary-text-color);
}

body {
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--secondary-text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

::-webkit-scrollbar {
    width: 4px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    padding: 40px 60px;
}

.column {
    flex: 0 0 50%;
    max-width: 50%;
}

.column:first-child {
    margin-right: 10px;
}

.column:last-child {
    margin-left: 10px;
}

span:not(:last-child) {
    margin-right: .6em;
}

ul {
    margin: 0;
    padding-left: 16px;
}

li {
    font-size: 12px;
}

table {
    table-layout: fixed;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: unset;
    margin: 0;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

.tag {
    font-weight: lighter;
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px 10px;
    white-space: nowrap;
    color: var(--bg-color);
    border-radius: 1rem;
    background-color: var(--secondary-text-color);
}

.icon {
    font-size: 12px;
    display: inline-grid;
}

.icon i {
    font-size: 24px;
    margin: auto;
    color: var(--secondary-text-color);
}

.text-bold {
    font-weight: bold;
}

.text-muted {
    color: var(--muted-text-color);
}

.header {
    background-color: var(--bg-color);
}

.header img {
    width: 128px;
    height: 128px;
    margin-left: auto;
    border-radius: 100%;
}

.header table {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 20px;
}

.header td:first-child {
    width: 1em;
    padding: 0;
    text-align: center;
}

.header td:last-child {
    padding-left: .4em;
    color: var(--secondary-text-color);
}

.header .info {
    display: flex;
}

.header .info table:not(:last-child) {
    margin-right: 60px;
}

.content {
    flex: 1;
    color: var(--bg-color);
    border-top: 4px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.desc i {
    margin-right: .4em;
}

.section:not(:last-child) {
    margin-bottom: 32px;
}

.section .title {
    font-weight: bold;
    color: var(--primary-color);
}

.section .desc {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 16px;
}

.section .desc .sub {
    margin-top: 16px;
}

.section .desc ul {
    line-height: 1.2;
}

.skills {
    width: 100%;
}

.skills tr.sub td:first-child {
    position: relative;
    padding-left: 1.2em;
}

.skills tr.sub td:first-child:before {
    position: absolute;
    left: 0;
    width: .6em;
    height: 50%;
    margin-right: .4em;
    margin-left: .2em;
    content: '';
    opacity: .2;
    border-bottom: 1px dotted var(--muted-text-color);
    border-left: 1px dotted var(--muted-text-color);
}

.skills tr.sub.next td:first-child:before {
    height: 100%;
    margin-top: -.8em;
}

.skills tr td {
    padding: 0;
    white-space: nowrap;
}

.skills tr td:first-child {
    display: flex;
    color: var(--muted-text-color);
}

.skills tr td:first-child:after {
    width: 100%;
    margin: auto .8em;
    content: '';
    opacity: .1;
    border-top: 4px dotted var(--muted-text-color);
}

.skills tr td:last-child {
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .header .info table {
        margin: 0;
    }

    .header img {
        width: 64px;
        height: 64px;
        margin-top: auto;
        margin-left: auto;
    }

    .header .info {
        flex-direction: column;
    }

    .wrapper {
        flex-wrap: wrap;
        padding: 20px 20px;
    }

    .column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}